* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: auto;
    align-items: center
}

#logo_grid{
    grid-column: 1 / 5;
}
#navbar{
    text-align: center;
}
#navbar ul li {
    margin: 2px;
    padding: 5px;
}
.header ul li{
    display: grid;
    justify-content: start;
}

#logo{
    width: 45px;
    padding: 5px;
}


.nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header {
    width: 100%;
    height: auto;
    background-color: royalblue;
}

#nav_grid li:hover{
    background-color: cornflowerblue;
}

#nav_grid li a{
    color: white;
    text-decoration: none;
}

.container{
    display: grid;
    height: 100vh;
    align-content: center;
    margin: 0px 15% 0px;
}

.main ul {
    background-color: cornflowerblue;
    margin: 0 15% 0;
    margin: 0 15% 0;
    border-collapse: collapse;
}
.main ul li{
    display: grid;
}

#menu{
    display: grid;
    padding: 10px;
    background-color: royalblue;
}


#login_section{
    display: block;
}

#option_section{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    background-color: royalblue;
}

.tabulka {
    background-color: royalblue;
}
.tabulka2 {
    background-color: white;
    margin: 1px 1px 1px 1px;
}
.tabulka2 a {
    color:black;
}
.tabulka2 a:hover{
    color: royalblue;
}

#login_section li{
    display: grid;
    justify-self: left;
    background-color: cornflowerblue;
}
li a{
    color: white;
    text-decoration: none;
    justify-self: center;
}
#button{
    display: grid;
    justify-content: center;
}

#bottom-container {
    display: grid;
}

.footer {
    display: block;
    text-align: center;
    background-color: royalblue;
    color: white;
}

@media (max-width: 900px) {

    .container {
        margin: 0 0 0;
    }

    .main ul {
        margin: 0 0 0;
    }

    .header ul {
        display: block;
        text-align: center;
    }

    #nav_grid {
        display: grid;
    }
}