* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: auto;
    align-items: center
}

#logo_grid{
    grid-column: 1 / 5;
}
#navbar{
    text-align: center;
}
#navbar ul li {
    margin: 2px;
    padding: 5px;
}
.header ul li{
    display: grid;
}

#logo{
    width: 45px;
    padding: 5px;
}


.nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header {
    width: 100%;
    height: auto;
    background-color: royalblue;
}

#nav_grid li:hover{
    background-color: cornflowerblue;
}

#nav_grid li a{
    color: white;
    text-decoration: none;
}

.container{
    display: grid;
    margin: 0 15% 0;
    height: 100vh;
    align-content: center;
    justify-content: center;
}
.register_box{
    background-color: cornflowerblue;
    padding: 10px;
}
#register_grid{
    display: grid;
    grid-template-columns: min-content auto;
    padding: 20px;
    background-color: royalblue;
}
#register_grid li{
    display: block;
    padding-right: 10px;

}
#register_grid li p{
    white-space:nowrap;
    overflow:hidden;
}
p, h1, a{
    color: white;
    text-decoration: none;
}
a{
    color: blue;
}
a:hover{
    color: darkblue;
}

.footer {
    display: block;
    text-align: center;
    background-color: royalblue;
    color: white;
}

@media (max-width: 900px) {

    .container {
        margin: 0 0 0;
    }

    .header ul {
        display: block;
        text-align: center;
    }

    #nav_grid {
        display: grid;
    }
}